ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
li{
  float: left;
}
.gr{
  width: 21px;
  height: 21px;
  line-height: 22px;
  background-color: #dddddd;
  border-radius: 3px;
  margin: 2px;
  text-align: center;
  box-shadow: 2px 2px 2px #888888;
  font-size: 14px;
  float: right;
}
.rd{
  background-color: red;
}

.dg{
  background-color: #666666;
}

.or{
  background-color: orange;
}
.clearboth{
  clear: both;
  margin: 0 auto;
}
.text{
  background-color: rgba(255,255,255,0.0);
  box-shadow: none;
}
.dummy{
  background-color: white;
  border-radius: none;
  box-shadow: none;
}
.up{
  float: inherit;
}

.right_text{
  width: 254px;
  max-height: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-size: 24px;
}
.single_line{
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding-left: 70px;
}
.single_line_left{
  width: 127px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding-left: 35px;
  float: left;
}
.single_line_right{
  text-align: right;
  padding-right: : 35px;
  float: right;
}

.top_big_margin{
  margin-top: 80px;
}
.top_small_margin{
  margin-top: 30px;
}
.big_font_size{
  font-size: 20px;
  width: 60px;
  height: 40px;
}
.yellow{
  background-color: yellow;
}
.blue{
  background-color: blue;
}
.pink{
  background-color: pink;
}

span{
  width: 127px;
  text-align: left;
}
#block_right{
  width: 127px;
  text-align: right;
  display: block;
}
#row_right{
  width: 127px;
  text-align: right;
  display: block;
}
#column_right{
  width: 127px;
  text-align: right;
  display: block;
}


.container{
  margin: 0px;
  height: 700px;
  width: 1266px;
  background-image: url('bg8.png');
  background-repeat:no-repeat;
  background-position: center center;
}
.title{
  width: 1600px;
  height: 0px;
}
.left{
  float: left;
  width: 330px;
  height: 600px;
}
.middle{
  float: left;
  width: 680px;
  height: 600px;
}
.right{
  float: left;
  max-width: 1800px;
  min-width: 256px;
  height: 600px;
}
.firstline{
  display: inline-block;
}
.t-row{
  height: 30px;
}
.t_left{
  text-align: left;
}
.t_right{
  text-align: right;
}
#res{
  height: 90px;
}
#block_left{
  text-align: left;
  padding-left: 28px;
}
#block_right{
  text-align: right;
  padding-right: 28px
}
#row_left{
  text-align: left;
  padding-left: 28px;
}
#row_right{
  text-align: right;
  padding-right: 28px
}
#column_left{
  text-align: left;
  padding-left: 28px;
}
#column_right{
  text-align: right;
  padding-right: 28px
}
.mid{
  padding-top: 120px;
  text-align: center;
  padding-bottom: 20px;
}
.padding0{
  padding-top: 20px;
}
